<html>
  <head>
    <title>Node.js crashed process stack dump viewer</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
  </head>
  <body>
    <p>
      Your stack trace is currently not available in any kind of pretty format.
    </p>

    <p>
      However, hopefully you will find that everything you need is there in
      the form of the global <code>data</code> variable in this browser instance.
    </p>

    <p>
      Happy hacking!
    </p>

    <script>
    window.viewData = __VIEW_DATA__;
    __BUNDLE__
    </script>
  </body>
</html>
